body {
	margin: 0;
	font-family: arial,helvetica,sans-serif;
}

#top-bar {
	background-color: rgba(121,0,0,0.6);
	width: 100%;
	height: 40px;
	color: white;
}

.fixed-width {
	width: 1050px;
	margin: 0 auto;
}

#logo-div {
	padding-top: 5px;
	padding-bottom: 3px;
	float: left;
	border-right: 1px solid #990000;
	padding-right: 10px;
}

#signin-div {
	font-weight: bold;
	padding: 10px 80px 11px 15px;
	font-size: 0.9em;
	float: left;
	margin-top: -3px;
	border-right: 1px solid #990000;
}

#signin-div img {
	position: relative;
	top: 2px;
	background-color: rgba(121,0,0,0.6);
}

#topmenu-div {
	float: left;
}

#topmenu-div ul {
	margin-top: 0;
	padding: 0;
}

#topmenu-div li {
	list-style: none;
	font-weight: bold;
	font-size: 0.9em;
	border-right: 1px solid #990000;
	padding: 12px 20px 11px 20px;
	float: left;
}

#search-div {
	float: left;
	padding: 5px 0 0 10px;
}

#search-div input {
	height: 25px;
	width: 180px;
	border: none;
	font-size: 0.9em;
	padding-left: 10px;
	background-image: url("images/magnify.png");
	background-repeat: no-repeat;
	background-position: right center;
}

.break {
	clear: both;
}

#news-bar {
	background-color: #990000;
	width: 100%;
	height: 130px;
	color: white;
	float: left;
	background-image: url("images/globe.png");
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: contain;
}

#news-bar p {
	margin: 0;
	padding: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	float: left;
}

#news-header {
	font-size: 3em;
}

#uk {
	font-size: 0.7em;
	padding-left: 20px;
}

#rss {
	float: right;
	margin-top: 30px;
}

#rss img {
	height: 15px;
	padding-top: 10px;
  	padding-left: 4px;
}

#topic-menu ul {
	background-color: #3E0C0D;
	padding: 5px 0 0 5px;
	margin: 0;
	height: 20px;
}

#topic-menu li {
	list-style: none;
	font-size: 0.8em;
	border-right: 1px solid #990000;
	padding: 0 6px 0 6px;
	float: left;
}

.selected {
	background-color: #EDEDED;
	color: #666666;
	height: 20px;
	position: relative;
	top: -5px;
	padding-top: 5px !important;
}

#content {
	width: 100%;
	color: #535353;
	font-size: 0.75em;
}

.date {
	font-weight: bold;
}

h1 {
	color: #1F4F82;
	font-size: 2.5em;
}

.headlineimage {
	width: 390px;
	height: 230px;
	float: left;
}

.news-item {
	position: relative;
	left: 10px;
	top: -15px;
	width: 250px;
	float: left;
	font-size: 1.1em;
}

.news-item a {
	color: #1F4F82;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.video {
	background-image: url("images/play.png");
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
}

.links {
	line-height: 1.6em;
}

.speaker {
	background-image: url("images/speaker.png");
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
}

#watch-listen {
	background-color: #EEEEEE;
	float: right;
	width: 336px;
	position: relative;
	top: -80px;
}

h2 {
	color: #505050;
	margin: 10px 0 10px 10px;
	font-size: 1.8em;
}

.boxes {
	float: right;
	margin: 20px 10px 0 0;
}

.leftarrow {
	float: left;
	border-right: 1px solid white;
}

.wlblock {
	float: left;
	background-color: #D1700E;
	width: 143px;
	border-right: 1px solid white;
}

.wlblock a {
	color: white;
}

.wlblock p {
	margin: 6px 10px 6px 10px;
}






